/* ============================================
   GENERAL SETTINGS AND NAVIGATION
   ==========================================*/
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section,
nav {
  border-top: 2px solid #656464;
  padding-top: 20px;
  margin-top: 20px;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #0080ff;
}

a:visited {
  color: #b774cc;
}

a:hover {
  color: #0015ff;
}

a:active {
  color: #0015ff;
}

/* ============================================
   BODY TEXT, AND OPENING QUOTES
   ==========================================*/
body {
  font-family: sans-serif;
  font-feature-settings:
    "zero" 1,
    "liga" 1;
  font-size: 1.25rem;
  text-align: justify;
  background-image: url("library.gif");
  background-repeat: repeat;
}

header {
  display: flex;
  flex-direction: column;
  gap: 4px
}

header p {
  margin: 0;
}

header h1 {
  margin-bottom: 5px;
}

header h2 {
  font-size: 1.313rem;
  margin-top: 50px;
  margin-bottom: 0;
}

h2 + p {
  margin-bottom: 40px;
}

ul li {
  list-style: disc;
}

.opening-quote {
  margin-left: 40%;
  text-align: right;
  font-style: italic;
  margin-bottom: 80px;
  margin-top: 30px;
}

.opening-quote p {
  margin-bottom: 1px;
  margin-top: 1px;
}

.opening-quote p:last-of-type {
  margin-top: 5px;
}

caption {
  text-align: left;
  font-weight: 450;
  margin-bottom: 10px;
}

/* Smaller margins beneath headers followed by a paragraph */
h4 {
  margin-bottom: 0;
}

h4 + p {
  margin-top: 5px;
}

li strong + p {
  margin-top: 5px;
}
/*========================================================*/

li {
  margin-bottom: 5px;
}

kbd {
  white-space: nowrap;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
}

code {
  font-feature-settings: normal;
  white-space: nowrap;
}

/* Color-coded comments logic has been moved here */
.green_star,
.yellow_star,
.red_star,
.blue_star {
  position: relative;
  padding-left: 25px;
  margin-left: 30px;
  margin-bottom: 15px;
  min-height: 20px;
  display: block;
}

.green_star::before,
.yellow_star::before,
.red_star::before,
.blue_star::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.green_star::before {
  background-image: url("star3.gif");
}

.yellow_star::before {
  background-image: url("star4.gif");
}

.red_star::before {
  background-image: url("star.gif");
}

.blue_star::before {
  background-image: url("star2.gif");
}

/* ============================================
   TABLE FORMATTING FOR "TABULAR" COLUMNS
   ==========================================*/
table,
th,
td {
  border: 1px solid #000000;
  padding-left: 2px;
  padding-right: 10px;
  border-collapse: collapse;
  font-family: inherit;
  font-size: inherit;
  table-layout: auto;
  white-space: nowrap;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
}

tbody th {
  text-align: left;
  font-weight: normal;
}

tbody tr:nth-child(even) {
  background-color: #5f5b5b19;
}

tbody tr:hover {
  background-color: rgba(132, 138, 55, 0.244);
}

thead {
  background-color: rgba(132, 138, 55, 0.167);
  text-align: left;
}

/* This targets table columns marked as "tabular" and applies formatting */
table:has(col:nth-child(1).tabular) td:nth-child(1),
table:has(col:nth-child(2).tabular) td:nth-child(2),
table:has(col:nth-child(3).tabular) td:nth-child(3),
table:has(col:nth-child(4).tabular) td:nth-child(4),
table:has(col:nth-child(5).tabular) td:nth-child(5),
table:has(col:nth-child(6).tabular) td:nth-child(6),
table:has(col:nth-child(7).tabular) td:nth-child(7),
table:has(col:nth-child(8).tabular) td:nth-child(8),
table:has(col:nth-child(9).tabular) td:nth-child(9),
table:has(col:nth-child(10).tabular) td:nth-child(10) {
  text-align: right;
  padding-left: 10px;
}


/* ============================================
   VARIOUS
  ===========================================*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.btn {
  position: absolute;
  right: 12%;
  background-color: #efefef;
  color: #000000;
  font-size: 1.25rem;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  line-height: 1.3333333;
  cursor: pointer;
  padding: 2px 4px;
  text-decoration: none;
  margin-right: 12px;
}

.btn:hover {
  color: #ffffff;
  background-color: #777777;
}

.to-top-container {
  position: relative;
}

.btn-to-top {
  position: fixed;
  right: 5%;
  bottom: 1%;
  padding: 0.25em;
  background-color: #efefef;
  color: #000000;
  font-size: 1.313rem;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  text-decoration: none;
}

.index {
  line-height: 1.6em;
}

.dark {
  background: #1e201c;
  color: #ffffff;
}